@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<img id="self" src="/images/me.jpeg" alt="self image"/>

<div class="section">
    <h2>From Pathology Lab to IT</h2>
    <p>
        Hello! My name is Chris, and I embarked on my journey into the world of web development after starting my career as a lab assistant in a pathology lab. Working in the lab environment exposed me to various aspects of laboratory operations, including the vital role of technology in streamlining processes and improving efficiency.
    </p>
    <p>
        During my time in the lab, I became an expert in the lab's Laboratory Information System (LIS). As I delved deeper into the LIS, I realized the immense potential technology holds in transforming workflows and enabling data-driven decision-making. It was this realization that sparked my curiosity and propelled me towards a career in IT.
    </p>
    <p>
        My expertise in the lab's LIS system became a springboard for my transition into the IT field. It provided me with a solid foundation in leveraging technology to solve complex problems and optimize operations. This experience, combined with my passion for continuous learning and exploring new technologies, drove me to pursue web development as a means to further expand my skills and contribute to the digital landscape.
    </p>
</div>
<div class="section">
    <h2>Passion for Cyber Security</h2>
    <p>
        One area of IT that particularly captivates me is cyber security. The importance of safeguarding digital assets and protecting sensitive information has become paramount in today's interconnected world. With a strong focus on cyber security, I am constantly striving to enhance my knowledge and skills in this field.
    </p>
    <p>
        The dynamic and ever-present threats in the digital landscape motivate me to stay updated with the latest trends, best practices, and emerging technologies in cyber security. I am passionate about creating secure web applications and implementing robust security measures to ensure the confidentiality, integrity, and availability of data.
    </p>
</div>
<div class="section">
    <h2>Web Development Journey</h2>
    <p>
        My transition into web development has been an exciting and fulfilling adventure. I am passionate about creating engaging and user-friendly websites that deliver seamless experiences to visitors. Through continuous learning and staying up to date with industry standards and best practices, I strive to build high-quality web solutions that meet the needs of businesses and users alike.
    </p>
    <p>
        I am excited about the limitless possibilities that web development offers and the ability to combine my background in pathology with my newfound skills in IT to create innovative and impactful digital experiences.
    </p>
</div>
