@{
    ViewData["Title"] = "Home Page";
}


<div id="page-container">
    <div id="content-wrap">
        <div class="text-center">
            <h1 id="typed-text" class="display-4"></h1>
            <p>Showcasing my coding development alongside my proficiency in a broad range of other IT domains.</p>
        </div>


        <h2>
            Projects
        </h2>
        <div class="flex-container">
            <ul>Ping Sweeper (github link in progress)</ul>
            <ul>Project 2</ul>
            <ul>Project 3</ul>
            <ul>...</ul>
        </div>
    </div>
</div>




