@{
    ViewData["Title"] = "Home Page";
}

<div>
<p id="leading-header">Showcasing my abilities in</p>
  <div id="typing-container">
      <div id="placeholder"></div>
    <span id="typing-text"></span>
        <script src="script.js"></script>
  </div>
  <br />
  <p>Software development, vulnerability assessments and risk management.</p>
  <p>C# | Python | Javascript | SQL</p>
  <a href="#footernav"><button class="btn">Contact me</button></a>
</div>


<div class="body-section">
    <div>
        <div class="circle" id="circle1"></div>
        <div class="circle" id="circle2"></div>
        <div class="circle" id="circle3"></div>
    </div>
</div>


<div class="edgeright"></div>
<section class="content-40">
    <div class="content-60">
        <div class="subsection">
            <div class="ContentAppsPlatform__IconWrapper-sc-9byr6i-2 ceaLSS">
                <div>
                    <h2 class="h-style">About Me</h2>
                    <h1>Chris Reid</h1>
                    <img id="self" src="/images/me.jpeg" alt="self image" />
                    <div class="diagonal-box">
                        <p>
                            I'm Chris, a web developer with a unique journey. My career began as a lab assistant in a pathology lab, where I realized the potential of technology in optimizing processes. Transitioning into IT, I honed my skills with the lab's LIS system, igniting my curiosity for web development. Now, I'm passionate about cyber security, constantly learning and implementing measures to ensure data protection. With a background in pathology and IT expertise, I'm thrilled to create innovative digital experiences.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="edgeleft"></div>
<br />


<div>
    <h2 class="h-style">Projects</h2>
    <h2>More to be added soon</h2>
    <p>I like to demonstrate my technical understanding through examples. These projects will highlight my strengths and interests. </p>
    <h2 class="h-style">Latest</h2>
    <div class="cr">

    </div>
</div>




<div class="edgeright"></div>
<section class="content-40">
    <div>
        <div>
            <div>
                <h2>
                    <small>Code.Code.Code.</small><br />
                    <span>Apps, Platforms &amp; Products</span>
                </h2><p>I'm currently focused on showcasing my personal projects and work, I aspire to collaborate with companies as an employee, contributing my expertise to their teams and driving their success with innovative solutions.</p>
                <div class="iconbox">
                    <img class="icon" src="/images/google.svg" />
                    <img class="icon" src="~/images/aws.svg"/>
                    <img class="icon" src="/images/microsoft.svg"/>
                </div>
                <br />
                <div>
                    <p class="h-style1">Google Cloud, AWS, Microsoft Azure</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="edgeleft"></div>
<br />








