@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chris Reid</h1>
    <p>Showcasing my coding development alongside my proficiency in a broad range of other IT domains.</p>
</div>



<div class="flex-container">
    <h2>Education and Certifications</h2>
    <ul>Masters of Science, Healthcare Administration, Informatics</ul>
    <ul>Bachelors of Science, Physiology</ul>
</div>
<div class="flex-container">
    <ul>Network+, CompTia 2020</ul>
    <ul>Security+, CompTia, 2022</ul>
</div>

<h2>
    Projects!
</h2>
<div class="flex-container">
    <ul>project 1</ul>
    <ul>project 2</ul>
</div>
