@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="typed-text" class="display-4"></h1>
    <p>Showcasing my coding development alongside my proficiency in a broad range of other IT domains.</p>
</div>

<h2>Education and Certifications</h2>
<div class="flex-container">
    <ul class = "flex-headers" >Degrees</ul>
    <ul class="edu">Masters of Science, Healthcare Administration, Informatics</ul>
    <ul class="organization">Saint Joseph's University</ul>
    <ul class="edu">Bachelors of Science, Physiology</ul>
    <ul class="organization">University of California, Santa Barbara</ul>
</div>
<div class="flex-container">
    <ul class="flex-headers">Certs</ul>
    <ul class="edu">Network+, 2020</ul>
    <ul class="organization">CompTia</ul>
    <ul class="edu">Security+, 2022</ul>
    <ul class="organization">CompTia</ul>
</div>

<h2>
    Projects!
</h2>
<div class="flex-container">
    <ul>project 1</ul>
    <ul>project 2</ul>
</div>

<script src="site.js"></script>

