@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<h2>
    Projects
</h2>
<div class="flex-container">
    <ul>Ping Sweeper (github link in progress)</ul>
    <ul>Project 2</ul>
    <ul>Project 3</ul>
    <ul>...</ul>
</div>
<div class="edgeright-darkblue">
    <p>Hello!</p>
</div>