@{
    ViewData["Title"] = "Resumé";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h4>Clinical Systems Analyst</h4>
    <p>hello hello hello</p>
    <h4>Pathology Lab Assistant</h4>
    <p>hello hello hello</p>
    <h4>AV Specialist</h4>
    <p>hello hello hello</p>
</div>
