@{
    ViewData["Title"] = "Resumé";
}
<h1>@ViewData["Title"]</h1>

<h2>Education and Certifications</h2>
<div class="edu-container">
    <ul class="flex-headers">Degrees</ul>
    <ul class="edu">Masters of Science, Healthcare Administration, Informatics</ul>
    <ul class="organization">Saint Joseph's University, 2014-2016</ul>
    <ul class="edu">Bachelors of Science, Physiology</ul>
    <ul class="organization">University of California, Santa Barbara, 2010-2014</ul>
</div>
<div class="edu-container">
    <ul class="flex-headers">Certs</ul>
    <ul class="edu">Network+</ul>
    <ul class="organization">CompTia, 2020</ul>
    <ul class="edu">Security+</ul>
    <ul class="organization">CompTia, 2022</ul>
    <ul class="edu">Cyber Security Analyst (CySA+)</ul>
    <ul class="organization">CompTia, in progress</ul>
</div>


<h2>Jobs</h2>
<div>
    <h4>Clinical Systems Analyst</h4>
    <p>hello hello hello</p>
    <h4>Pathology Lab Assistant</h4>
    <p>hello hello hello</p>
    <h4>AV Specialist</h4>
    <p>hello hello hello</p>
</div>
