html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f9f1f1;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: #708090;
}

    .flex-container h2 {
        font-size: 24px;
        margin-bottom: 10px;
        justify-content: center;
    }

    .flex-container p {
        font-size: 16px;
        line-height: 1.5;
    }

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}