#leading-header {
    font-size: 72px;
}

.content {
    padding: 4rem;
}

#typing-text {
    display: inline-block;
    font-size: 72px;
}

#typing-text::after {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    margin-left: 2px;
    height: 1em;
    border-right: 2px solid;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: inherit;
    }
}

p {
    font-size: 26px;
}

.edgeright {
    border-bottom: 40px solid #1a1d42;
    border-left: calc(100vw - 1rem) solid transparent;
    bottom: -1px;
    max-width: 100%;
    position: relative;
}

.edgeleft {
    border-bottom: 40px solid transparent;
    border-left: calc(100vw - 1rem) solid #1a1d42;
    bottom: 1px;
    max-width: 100%;
    position: relative;
}

.content4 {
    background-color: #1a1d42;
}

.content-40 {
    padding: 6.25rem 1rem;
    background-color: #1a1d42;
    color: var(--white);
    bottom: -1px;
    max-width: 100%;
    position: relative;
}


.btn {
    background-color: darkgreen;
    border: 2px solid white;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    display: block;
    padding: 1rem;
    margin-right: 1rem;
}


section {
    display: block;
}

:root {
    --black: #000;
    --white: #fff;
    --yellow: #faac38;
    --red: #ff3c38;
    --blue: #0e86ff;
    --green: #42e2b8;
    --darkblue: #241623;
    --darkgray: #646363;
    --twitterBlue: #1da1f2;
    --boxShadow: rgba(0,0,0,.2);
    --boxShadowHover: rgba(0,0,0,.4);
}

.h-style {
    font-size: 26px;
    color: orange;
}

.h-style1 {
    text-align: center;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#self {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.social-media-buttons a img {
    width: 40px;
    height: 40px;
}


.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
}

#circle1 {
    background-color: rgba(255, 0, 0, 0.5); /* Red with 50% opacity */
    transform: translateX(-70px);
}

#circle2 {
    background-color: rgba(0, 255, 0, 0.5); /* Green with 50% opacity */
    transform: translateY(70px);
}

#circle3 {
    background-color: rgba(0, 0, 255, 0.5); /* Blue with 50% opacity */
    transform: translateX(70px);
}

.body-section {
    display: flex;
}

element.style {
    background-image: url(/static/7a577af…/c8dce/nodejs-logo.png);
}

.iconbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3rem;
}

.icon {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    fill: orange;
}

.block1 {
    display: flex;
    flex-direction: column;
    flex-basis: 25rem;
    height: 100px;   
}

.education-container {
    text-align: center;
    background: #1a1d42;
}

.education-toggle {
    background: none;
    border: none;
    padding: 0;
    font-family: arial,sans-serif;
    color: green;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

#education-list {
    background-color: inherit;
    color: white;
    list-style-type: none;
}


